{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="base coupondesign">
        <nav class="nav coupondesign">
            <div class="n-wp coupondesign">
                <div class="n-ct m-w coupondesign">
                    <a class="n-logo coupondesign" href="/">
                        <img alt="" class="logo coupondesign" src="/coupondesign/images/coupon/logo.png" />
                    </a>
                    <div class="n-sch coupondesign">
                        <div class="sch-w coupondesign">
                            <form action="/search" class="coupondesign" method="GET" role="search">
                                <button class="btn coupondesign" id="sch-btn"> </button>
                                <div class="input coupondesign">
                                    <input aria-label="..." autocomplete="off" class="coupondesign" id="search-input" name="query" placeholder="Search..." type="text" value="" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="body coupondesign">
            <div class="messages coupondesign"> </div>
            <div class="coupondesign" data-query="walmart" id="search">
                <div class="cpn-ctn coupondesign" itemscope="" itemtype="http://schema.org/Store">
                    <div class="m-w cols-ctn coupondesign">
                        <div class="l-cols coupondesign">
                            <div class="l-col l-col-f coupondesign">
                                <div class="cp-flt coupondesign">
                                    <div class="h3 coupondesign">Filter by </div>
                                    <div class="c-s coupondesign">
                                    </div>

                                    <meta class="coupondesign" content="morphebrushes.com" itemprop="name" />

                                    <div class="about-section result-collect coupondesign" itemscope="" itemtype="http://schema.org/Product">
                                        <table border="0" cellpadding="0" cellspacing="0" class="about-merchant-stats rc-table coupondesign">
                                            <tr class="coupondesign">
                                                <td class="coupondesign">Total Offers</td>
                                                <td class="coupondesign">26 </td>
                                            </tr>
                                            <tr class="coupondesign">
                                                <td class="coupondesign">
                                                    Coupon Codes
                                                </td>
                                                <td class="coupondesign">
                                                    0
                                                </td>
                                            </tr>
                                            <tr class="coupondesign">
                                                <td class="coupondesign">
                                                    Online Sales
                                                </td>
                                                <td class="coupondesign">
                                                    26
                                                </td>
                                            </tr>
                                            <tr class="coupondesign">
                                                <td class="coupondesign">
                                                    Best Discount
                                                </td>
                                                <td class="cp-r coupondesign">

                                                    80%

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-col coupondesign">
                            <div class="st-m-list coupondesign">
                                <div class="act-list coupondesign">
                                    <div class="header coupondesign">
                                        <h1 class="coupondesign">Results for "walmart"   </h1>
                                    </div>
                                    <div class="coupon-list coupondesign">
                                        <div class="row-it coupon-item st-cp coupondesign" data-domain="walmart.com" data-key="" data-slug="" data-value="621fc15f32f45553">
                                            <div class="wrap sale coupondesign">
                                                <div class="off coupondesign">
                                                    <div class="no-off coupondesign">
                                                        <p class="coupondesign">DEAL </p>
                                                    </div>
                                                    <div class="brand-img coupondesign">
                                                        <a class="store-l get-deal-btn coupondesign" href="/gt/fd621fc15f32f45553" rel="nofollow">
                                                            <img alt="walmart" class="c-c-img coupondesign" src="/coupondesign-images/gp0oVDghgoBUNTDRh690I5yGRic=/0x80/logos/walmart.com.png" title="walmart" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="info coupondesign">
                                                    <div class="tool-line coupondesign">
                                                        <div class="tl-top coupondesign">
                                                            <div class="verify-tag coupondesign">
                                                                <i class="coupondesign"></i> Verified </div>
                                                        </div>
                                                        <div class="tl-bottom coupondesign">
                                                            <div class="use-tag coupondesign">
                                                                <span class="use-count coupondesign">169 </span> People Used </div>
                                                            <div class="time-tip coupondesign">
                                                                Expires 12/31/2019

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="title get-deal-btn coupondesign" href="/gt/fd621fc15f32f45553" rel="nofollow" title="Deal Drop - Shop Walmart Seasonal Faves, Finds, And More">Deal Drop - Shop Walmart
                                                        <span class="coupondesign"><i class="coupondesign"></i>Hot </span><br class="coupondesign"/>Seasonal Faves, Finds, And More</a>
                                                    <a class="content get-deal-btn coupondesign" href="/gt/fd621fc15f32f45553" rel="nofollow">
                                                        <div class="text p-content-text coupondesign">Save more, buy more, at walmart.com. Couponcode.guru. Hurry before the deals are gone.</div>
                                                    </a>
                                                </div>
                                                <div class="operate coupondesign">
                                                    <a class="btn t-btn get-deal-btn coupondesign" href="/gt/fd621fc15f32f45553" rel="nofollow">Get Deal </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="coupondesign">
            <div class="gotop-btn coupondesign"><i class="t-angle coupondesign">   </i> </div>
            <div class="ft-b coupondesign">
                <div class="m-w coupondesign">
                    <div class="b coupondesign">
                        <div class="popular coupondesign">
                            <a class="coupondesign" href="/about-us.html">About Us   </a>
                            <a class="coupondesign" href="/contact-us.html">Contact Us   </a>
                            <a class="coupondesign" href="/terms.html">Terms   </a>
                        </div>
                        <div class="copyright coupondesign">
                            Copyright © 2019 couponcode.guru. All rights reserved.
                            <img alt="" class="coupondesign" src="https://upload.wikimedia.org/wikipedia/commons/8/84/Gift_Flat_Icon_Vector.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <input class="coupondesign" id="head_title_bk" type="hidden" value="Coupons by couponcode.guru" />
            <input class="coupondesign" id="head_description_bk" type="hidden" value="" />
            <input class="coupondesign" name="csrfmiddlewaretoken" type="hidden" value="PzTPDeQcnXloiSqX60mNDQSEO4RxjXbzEdu2GzAkineVvFDyjJ1pzSw9i1F6hMvJ" />
        </footer>
    </div>
{% endblock content %}